body {
    background-color: lightskyblue;
}
h1 {
    font-size: 30px;
    color: darkslateblue;
    font-family: monospace;
    text-align: center;
}
p {
    font-size: 20px;
    color: darkslateblue;
    font-family: monospace;
    text-align: center;
}
img {
    width: 800px;
    height: 700px;
    margin-left: 600px;
    margin-bottom: 300px;
}
.lista_cabecalho{
    display: flex;
    margin-left: 800px;

}
.item_lista_cabecalho{
    padding-left: 150px;
    list-style: none;
    font-size: 25px
    
}
